body {
  font-size: 20px;
  font-family: Arial;
  background: #f4f4f4;
  line-height: 1.5em;
  border-bottom: 2px #000 solid;
}
header {
  background: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  border-bottom: 4px #000 solid;
  margin-bottom: 10px;
}
#current-temp {
  text-align: center;
}
#buttons {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
#temp-text {
  margin: 0 0 0 0;
  text-align: center;
}
#temperature {
  font-size: 50px;
  font-family: Arial;
}
#city-temp {
  text-align: center;
}
.sr-class{
  color:black;
}
#thermo-text#temperature {
  font-size: 10px;
  color: white;
  padding-bottom: 10px;
}
.temp-button {
  font-size: 30px;
  font-family: Arial;
}
.psm-button {
  font-size: 20px;
  font-family: Arial;
}
#temperature-reset {
  font-size: 20px;
  font-family: Arial;
}


